@import "tailwindcss";
@plugin "daisyui";

.cardSpecial {
    transition: transform 0.3s ease;
    
}

.cardSpecial:hover {
    transform: scale(1.05);
}

.genreBadge {
    background-color: rgb(155, 33, 226, 0.189);
}

.genreBadge:hover {
    background-color: rgb(155, 33, 226);
}

.btnSpecial {
    background-color: rgb(155, 33, 226, 0.189);
}

.btnSpecial:hover {
    background-color: rgb(156, 33, 226);
}